<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Project Management</title>
</head>
<body>
<div id="header">
    <a class="header-logo js-home-via-logo">
        <span class="header-logo-loading"></span>
        <span class="header-logo-default"></span>
    </a>
    <div class="header-back-button">
        <a class="header-button js-back-menu" href="/" label="Back to home page">
            <span class="header-btn-icon icon-lg icon-house light">

            </span>
        </a>
    </div>
</div>
</body>
</html>