<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zmiana hasła</title>
</head>
<body>
    <form th:action="@{/changePassword}" th:object="${passwordChangeForm}" th:method="post">
        <!--informacja o hasłach - takie same lub różne-->
        <!--<span th:test="${passwordsCheck}">decision</span>-->
        <label>Podaj nowe hasło</label>
        <input th:type="text" th:field="*{password1}">
        <span th:errors="*{password1}">error</span>
        <br>
        <label>Powtórz hasło</label>
        <input th:type="text" th:field="*{password2}">
        <span th:errors="*{password2}">error</span>
        <br>
        <input th:type="submit" th:value="zmień">
    </form>

</body>
</html>